{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:node/recommended",
    "../../.eslintrc"
  ],
  "rules": {
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-missing-import": "off"
  },
  "parserOptions": {
    "project": "./apps/server/tsconfig.json"
  }
}
